@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;

}
.start-screen
{
    background: url("../img/main-screen__bgc.png") no-repeat;
    background-size:cover;
    background-position: center;
}
.header__top
{
    display: flex;
    align-items: center;
    padding-top:40px;
    padding-bottom:  40px;
    padding-left: 80px;
    padding-rigth: 80px;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
}
.header__logo
{
    flex:0 0 auto;
    width: 40px;
    height: 40px;
    background-image: url("../img/logo.svg");
}
.header__main-menu
{
    display: flex;
    margin: 0 auto;
    max-width: 745px;
    width: 100%;
    min-height: 24px;
    align-items: center;
}
.main-menu
{
display: flex;
    margin: 0 auto;
}
.main-menu__items
{
    margin-right: 56px;
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.main-menu__items:nth-last-child(1)
{
    margin-right: 0px;
}
.main-menu__items a
{
    color: white;
    text-decoration: none;
}
.header__button
{   margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 183px;
    width: 100%;
    min-height: 44px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    padding: ;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 30px;
}
.main
{
    display: flex;
    justify-content: center;
    flex-flow: column;

}
.main__container
{
    box-sizing: border-box;
    padding: 0 30px;
    height: auto;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

}
.main__heading
{
    margin-top: 190px;
    max-width: 920px;
    min-height: 180px;
}
.main__heading h1
{
    font-weight: 700;
    font-size: 64px;
    line-height: 1.4;
    color:white;
}
.main__card-list
{
    margin-top: 50px;
display: grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,100px));
    border: 1px;
    grid-gap: 30px;
}
.main__card
{display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 102px;
    height: 112px;

    background: #121212;

}
.main__card h2
{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
    color:white;
}
.main__card p
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: white;
}
.main__line
{
    display: flex;
    align-items: center;
    margin-top: 220px;
    background: #121212;
    width: 100%;
    min-height: 130px;

}
.main__screen-last-line
{
    display: flex;
    align-items: center;
}
.container {
    box-sizing: border-box;
    max-width: 1320px;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
}
.main__line-button
{

}
.line-button
{ display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 169px;
    width: 100%;
    min-height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    text-decoration: none;
    color: white;
}
.main
{
    background: #000;
}
.main__people
{
    display: flex;
    align-items: center;

    margin-left: 80px;
    max-width: 251px;
    width: 100%;
    min-height: 60px;
}
.main__people h3
{

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.main__about
{display: grid;
    grid-template-columns:repeat(auto-fit,minmax(450px,50%));
    justify-content: center;
    max-width: 1301px;
    min-height: 542px;
    margin-top: 200px;
}
.main__about-img
{
    min-width: 305px;
    max-height:470px;
    max-width: 500px;
    min-height: 400px;
}
.img-main
{
    margin-top: 200px;
    width: 446px;
    height: 446px;
}
.main__border-gradient
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 526px;
    height: 499px;
    border: 30px solid;
}
.main__about-text
{
    margin-left: 135px;
    padding-top: 100px;
}
.main__about-text h3
{
    max-width: 502px;
    min-height: 67px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
}
.main__about-text p
{
    margin-top: 45px;
    max-width: 636px;
    min-height: 156px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
}
.main__start
{
    margin-top: 200px;
    border: 2px red solid;
    max-width: 1315px;
    min-height: 552px;
    color: #FFFFFF;
}
.main__icon-heading
{
    display: flex;
    align-items: center;
max-width: 100%;
    min-height: 20px;
    border: 1px red solid;
}
.main__icon-heading h3
{
    max-width: 351px;
    min-height: 67px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
}
.icon-heading
{
    margin-right: 20px;
    max-width: 127px;
    min-height: 127px;
}
.main__start-fact
{
    max-width: 411px;
    min-height: 52px;
}
.main__start-fact p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 20px;
    padding-bottom: 80px    ;
}
.main__infographic
{
    border: 1px yellow solid;
    max-width: 100%;
    min-height: 273px;
}
.main__rectangle-list
{
    display: flex;

}
.main__rectangle-card
{
display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: auto;
}

.main__rectangle-card h4
{
    max-width: 89px;
    min-height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
}
.poloska
{
    width: 324px;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.poloska-75
{
    width: 324px;
    height: 60px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.poloska-50
{
    width: 324px;
    height: 30px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.poloska-final
 {
    width: 324px;
    height: 10px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
 }
.main__rectangle-card p
{
    margin-top: 35px;
    vertical-align: center;
    max-width: 306px;
    min-height: 88px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    opacity: 0.5;
}